prototype/offer-analyze.json
{
  "name": "Analyze offer",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=DOCUMENT: {{ $json.documentName || \"uploaded_contract.pdf\" }}\nLANGUAGE: {{ $json.lang || \"en\" }}\nTOTAL_PAGES: {{ $json.pages.length }}\n\nTASK: Review the contract below and identify risky clauses for a startup. \nUse the provided page (p) and line (l) anchors to reference text positions.\n\nCONTRACT_LINES:\n{{ $json.llm_text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a legal contract reviewer for startup founders.\n\nYour goal: read the provided contract text and identify 3–5 clauses that may create business or legal risk for a small company or startup.\n\nReturn STRICT JSON ONLY. Do not include explanations, markdown, or commentary outside the JSON.\n\nEach JSON item must include:\n- severity: \"High\" | \"Medium\" | \"Low\"\n- title: short label (≤7 words)\n- description: clear, plain-language explanation (≤3 sentences)\n- evidence_snippet: 30–180 characters copied VERBATIM from the contract text (no paraphrasing, no ellipses, keep original language)\n- page_hint: integer page number (if visible from anchors)\n- line_hint: integer line number (if visible from anchors)\n- regex_hint (optional): a safe, escaped regex pattern that could match the same text\n\nGuidelines for SEVERITY:\n- High → uncapped liability, indemnification, broad audit rights, one-way IP assignment, personal guarantees, unilateral termination, severe data-breach obligations.\n- Medium → long payment terms (>45–60 days), auto-renewal without notice, exclusivity >6–12 months, unfavorable jurisdiction, vague “material adverse change”.\n- Low → minor procedural clauses (e.g., publicity, notice mechanics, weak SLAs).\n\nRules:\n- The evidence_snippet must appear exactly in the provided text.\n- Prefer issues relevant to startups or small vendors.\n- Maximum 5 items.\n- Output must be valid JSON array.\nIf unsure, omit the item rather than guessing."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        464,
        0
      ],
      "id": "6d40b0b4-9f31-4a63-a5cb-2172cc9fab73",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        192
      ],
      "id": "acf6283c-14ab-49a0-8ecd-fb404727ece3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "evEFJyHD810RTv7e",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "bucketName": "cv-generation",
        "fileKey": "legal/Legal.pdf"
      },
      "type": "n8n-nodes-base.s3Tool",
      "typeVersion": 1,
      "position": [
        592,
        272
      ],
      "id": "2a4d079e-f7dd-473b-9cb1-f4332a8288df",
      "name": "Download a file in S3",
      "credentials": {
        "s3": {
          "id": "n7ZD9nwxmqza7VGu",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://5f0c404b7076.ngrok-free.app/pdf/parse",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "Legal.pdf"
            },
            {
              "name": "bucket",
              "value": "auri-bot"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "a9949979-4c8d-4f81-a10f-b120709906b5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"suggestions\": [\n    {\n      \"severity\": \"Medium\",\n      \"title\": \"Net 90 payment terms\",\n      \"description\": \"Cash flow risk: you may wait three months to be paid. Aim for Net 30.\",\n      \"evidence_snippet\": \"Payment terms are Net 90 from the invoice date\",\n      \"page_hint\": 3,\n      \"line_hint\": 1,\n      \"bbox_targets\": [\n        { \"page\": 3, \"x\": 90, \"y\": 620, \"width\": 400, \"height\": 25 }\n      ],\n      \"confidence\": \"high\",\n      \"debug\": { \"matched_text\": \"Payment terms are Net 90 from the invoice date\" }\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        752,
        176
      ],
      "id": "0b863718-a877-4944-bda1-91f21673dc62",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "path": "060b0731-209e-4ec7-88f0-02e7f3b48669",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        -16
      ],
      "id": "7c76dcbe-0de5-4b2d-babf-ee4b19ad8236",
      "name": "Webhook",
      "webhookId": "060b0731-209e-4ec7-88f0-02e7f3b48669"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        128
      ],
      "id": "066e567d-8377-418a-a5d6-7d75b14d4106",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download a file in S3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fec47e6b-78be-44a7-9b42-3fb99ee075ed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "67bb160f91480f9039e4b397ea521c405d13daeb8928af496c2bef0ae4969f29"
  },
  "id": "svNkh0wntvL75TBL",
  "tags": []
}